<br>
<h1>
  Homepage
</h1>
<p>
  This application provides a simple demo of the User Facing SSO capabilities Red Hat Managed Integration.
</p>
<p>
  Use the Login button to begin a session. You can login as "admin" or "developer" using the password "password."
</p>
<hr>
<ul>
  <li>
    <a href="https://github.com/evanshortiss/rhmi-app-dev-demos/tree/master/nodejs-sso-secured" target="blank">Demo Source Code</a>
  </li>
  <li>
    <a href="https://access.redhat.com/documentation/en-us/red_hat_single_sign-on/7.3/" target="blank">Red Hat SSO Docs</a>
  </li>
  <li>
    <a href="https://access.redhat.com/documentation/en-us/red_hat_managed_integration/1/" target="blank">Red Hat Managed Integration Docs</a>
  </li>
</ul>
